torch==2.9.1
torchvision==0.24.1
torcheval==0.0.7
torchmetrics==1.8.2
pennylane==0.43.1
scikit-learn==1.8.0
matplotlib==3.10.7
seaborn==0.13.2
wandb==0.23.1
pyyaml==6.0.3
h5py==3.15.1
gdown==5.2.0
tensorboard==2.20.0
qiskit==2.1.2
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.41.1
pennylane-qiskit==0.43.0